.button_next_wp, .solid_program, .wp_wrapper, .program_block, .eq {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    text-align: left;
}

.button_next_wp, .button_next_wp {
    outline: none;
    margin: 5px 0;
}

.button_next_wp:hover, .button_next_wp:active {
    cursor: pointer;
}

.solid_program {
    background-color: #2B2B2B;
}

.wp_wrapper, .solid_program {
    line-height: 1.4;
    color: white;
    font-family: monospace;
}

body {
    background-color: #4a6572;
    color: aliceblue;
}

.eq {
    margin: 0 1em 0;
    font-size: 40pt;
    font-weight: bold;
}

.transition {
    display: inline-block;
}

.transition_container {
    padding: 10px 0 10px;
    border-bottom: 5px solid #344955;
    text-align: center;
}

.wp_wrapper {
    margin-left: 1em;
    margin-right: 1em;
}

.solid_program {
    padding: 0.5em 1em 0.5em 0;
    margin-left: 1em;
    text-align: left;
}

.block, .button_next_wp {
    margin-left: 1em;
}

.program_block {
    display: inline-block;
    padding: 0.5em 2em 0.5em 1em;
    background-color: #2B2B2B;
}

.button_next_wp {
    border: none;
    padding: 0.5em 0 0.5em;
}

.error_letter {
    background-color: #ec534c;
    color: white;
    padding: 0 ;
}

.code {
    display: block;
    background-color: #2b2b2b;
    margin: 0;
    padding: 8px;
    line-height: 1.4;
    font-family: monospace
}

.submit_form {
    display: inline-block;
    float: left;
    margin: 10px;
}

.submit_area {
    display: block;
    min-width: 40em;
    min-height: 30em;
    background-color: #2b2b2b;
    border: none;
    color: aliceblue;
    outline: none;
    padding: 8px;
    line-height: 1.4;
    font-family: monospace
}

.submit_button {
    margin-top: 4px;
    display: block;
    width: 100%;
    background-color: #344955;
    border: none;
    color: #a7afb6;
    padding: 8px;
    outline: none;

}

.submit_button:hover, .submit_button:active {
    background-color: #2e4652;
    cursor: pointer;
}

.parser {
    display: inline-block;
}

.exception_block {
    display: inline-block;
    float: left;
    margin: 10px;
    padding: 8px;
    border-left: 5px solid #d99e5f;
}

.exception_message {
    color: #d99e5f;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
}