.button_next_wp, .solid_program, .wp_wrapper, .programBlock, .eq {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    text-align: left;
}

.eq {
    margin: 0 3em 0;
    font-size: 20pt;
    font-weight: bold;
}

.transition {
    display: inline-block;
}

.transition_container {
    padding: 10px 0 10px;
    border-bottom: 5px solid #000000;
    text-align: center;
}

.wp_wrapper {
    margin-left: 1em;
    margin-right: 1em;
}

.solid_program {
    border: 1px solid black;
    padding: 0.5em 1em 0.5em 0;
    margin-left: 1em;
    text-align: left;
}

.block {
    /*margin-left: 1em;*/
}

.programBlock {
    display: inline-block;
    border: 1px dotted black;
    padding: 0.5em 2em 0.5em 1em;
}

.button_next_wp {
    border: none;
    padding: 0.5em 0 0.5em;
}

.error_letter {
    background-color: red;
}

.code {
    border: 1px solid red;
}